/* Основные стили */
.about-page {
  padding-top: 20px;
  background-color: rgb(40, 40, 40);
}

/* Цвет текста */
h1,
h3,
h4 {
  color: white;
}

/* Дополнительные стили для заголовков */
h1,
h3 {
  text-align: center;
}

h1 {
  font-size: 100px;
}

h3 {
  font-size: 30px;
  margin-top: 10px;
}

h4 {
  font-size: 18px;
}

/* Анимации */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideFromLeft {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideFromRight {
  from {
    opacity: 0;
    transform: translateX(100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.fade-in {
  animation: fadeIn 5s ease-out;
}

.slide-from-left {
  animation: slideFromLeft 5s ease-out;
}

.slide-from-right {
  animation: slideFromRight 5s ease-out;
}

.blink {
  animation: blink 3s step-start infinite;
}

/* Анимации с задержкой */
.fade-in-delay-1 {
  animation: fadeIn 5s ease-out 3s forwards;
}

.fade-in-delay-2 {
  animation: fadeIn 5s ease-out 6s forwards;
}

.slide-from-left-delay-1 {
  animation: slideFromLeft 5s ease-out 3s forwards;
}

.slide-from-left-delay-2 {
  animation: slideFromLeft 5s ease-out 6s forwards;
}

.slide-from-right-delay-1 {
  animation: slideFromRight 5s ease-out 3s forwards;
}

.slide-from-right-delay-2 {
  animation: slideFromRight 5s ease-out 6s forwards;
}

.blink-delay {
  animation: blink 3s step-start infinite;
}

/* Адаптивные стили */
@media (max-width: 768px) {
  h1 {
    font-size: 60px;
  }

  h3 {
    font-size: 24px;
  }

  h4 {
    font-size: 16px;
  }

  .about-page {
    padding: 10px;
  }

  .about-page div {
    flex-direction: column;
    align-items: center;
  }

  .about-page img {
    width: 100%;
    height: auto;
    margin: 20px 0;
  }

  .about-page h4 {
    margin: 20px 0;
    text-align: center;
  }

  .fade-in,
  .slide-from-left,
  .slide-from-right,
  .blink {
    animation-duration: 4s;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 40px;
  }

  h3 {
    font-size: 20px;
  }

  h4 {
    font-size: 14px;
  }

  .about-page {
    padding: 5px;
  }
}

/* Адаптивные стили для min-width 320px */
@media (min-width: 320px) {
  h1 {
    font-size: 30px;
  }

  h3 {
    font-size: 18px;
  }

  h4 {
    font-size: 12px;
  }

  .about-page {
    padding: 2px;
  }

  .footer {
    padding: 10px;
  }

  .footer-social img {
    width: 20px;
    height: 20px;
  }

  .footer-contacts {
    margin: 0 10px 20px 10px;
  }

  .footer-content h5 {
    font-size: 1.2em;
  }

  .footer-content p {
    font-size: 0.8em;
  }
}

/* Стили для футера  */
.footer {
  height: 250px;
  width: 100vw;
  margin-left: calc(50% - 50vw);
  background: linear-gradient(135deg, #222222, #333333);
  color: #f0f0f0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
}

.footer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("https://www.example.com/your-footer-background-image.jpg")
    no-repeat center center/cover;
  opacity: 0.2;
  z-index: -1;
}

.footer-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  position: relative;
  padding: 0 0px;
}

.footer-social,
.footer-contacts,
.footer-text {
  flex: 1;
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-social {
  gap: 15px;
}

.footer-social a {
  color: #f0f0f0;
  font-size: 1.5em;
  transition: color 0.3s;
  text-decoration: none;
}

.footer-social a:hover {
  color: #ffcc00;
}

.footer-social img {
  width: 30px;
  height: 30px;
  margin-bottom: 5px;
  margin-left: 50px;
}

.footer-contacts {
  margin: 0 15px 50px 20px;
}

.footer-content h5 {
  margin-top: 20px;
  font-size: 1.4em;
  font-family: "Playfair Display", serif;
  margin-bottom: 10px;
  transition: color 0.3s;
}

.footer-content h5:hover {
  color: #ffcc00;
}

.footer-content p {
  width: 120%;
  max-width: 800px;
  font-size: 1em;
  margin: 0;
  transition: color 0.3s;
  text-align: center;
}

.footer-content p:hover {
  color: #ffcc00;
}

.footer-decor {
  margin-top: 5px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.footer-credits {
  margin-right: 40px;
}
