/* Стили для раздела tab-tours */
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  /* Убираем горизонтальный скролл */
}

.tab-tours {
  padding: 80px 20px;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  text-align: center;
  font-family: "Roboto", sans-serif;
  /* Основной шрифт для всего текста */
}

.tab-tours .tour-list {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.tab-tours .tour-list h2 {
  font-size: 2.5em;
  margin-bottom: 40px;
  font-weight: 700;
  /* Примените жирное начертание для заголовка */
}

.tab-tours .tour-list ul {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.tab-tours .tour-list ul li {
  width: calc(33.33% - 40px);
  margin: 20px;
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  font-family: "Roboto", sans-serif;
  /* Примените шрифт для элементов списка */
}

.tab-tours .tour-list ul li:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}

.tab-tours .tour-list ul li img {
  width: 100%;
  height: auto;
  border-radius: 8px 8px 0 0;
}

.tab-tours .tour-list ul li .tour-details {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px 20px;
  text-align: center;
  transform: translateY(100%);
  transition: transform 0.3s ease;
}

.tab-tours .tour-list ul li:hover .tour-details {
  transform: translateY(0);
}

.tab-tours .tour-list ul li .tour-details a {
  color: white;
  font-size: 1.5em;
  text-decoration: none;
  font-weight: 700;
  /* Жирное начертание для ссылок */
}

.tab-tours .tour-list ul li .tour-details p {
  font-family: "Brush Script MT", "Brush Script Std", cursive;
  /* Примените курсивный шрифт для абзацев */
  font-size: 1em;
  /* Можно настроить размер шрифта по вашему усмотрению */
  line-height: 1.5;
  /* Настройте высоту строки для лучшего восприятия */
  color: #ddd;
  /* Настройте цвет текста для лучшего контраста */
}

.tab-tours .tour-list ul li .tour-details span {
  display: block;
  color: #ccc;
  font-size: 0.8em;
}

@media (max-width: 1200px) {
  .tab-tours .tour-list ul li {
    width: calc(50% - 40px);
  }
}

@media (max-width: 768px) {
  .tab-tours .tour-list ul li {
    width: calc(100% - 40px);
  }
}

/* Стили для футера  */
.footer {
  height: 250px;
  width: 100vw;
  margin-left: calc(50% - 50vw);
  background: linear-gradient(135deg, #222222, #333333);
  color: #f0f0f0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
}

.footer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("https://www.example.com/your-footer-background-image.jpg")
    no-repeat center center/cover;
  opacity: 0.2;
  z-index: -1;
}

.footer-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  position: relative;
  padding: 0 0px;
}

.footer-social,
.footer-contacts,
.footer-text {
  flex: 1;
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-social {
  gap: 15px;
}

.footer-social a {
  color: #f0f0f0;
  font-size: 1.5em;
  transition: color 0.3s;
  text-decoration: none;
}

.footer-social a:hover {
  color: #ffcc00;
}

.footer-social img {
  width: 30px;
  height: 30px;
  margin-bottom: 5px;
  margin-left: 50px;
}

.footer-contacts {
  margin: 0 15px 50px 20px;
}

.footer-content h5 {
  margin-top: 20px;
  font-size: 1.4em;
  font-family: "Playfair Display", serif;
  margin-bottom: 10px;
  transition: color 0.3s;
}

.footer-content h5:hover {
  color: #ffcc00;
}

.footer-content p {
  width: 120%;
  max-width: 800px;
  font-size: 1em;
  margin: 0;
  transition: color 0.3s;
  text-align: center;
}

.footer-content p:hover {
  color: #ffcc00;
}

.footer-decor {
  margin-top: 5px;
  display: flex;
  justify-content: center;
  gap: 10px;
}
.footer-credits {
  margin-right: 40px;
}
