/* ResetPassword.css */
.reset-password-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.reset-password-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.reset-password-form {
  z-index: 1;
  background-color: rgba(
    255,
    255,
    255,
    0.8
  ); /* Semi-transparent white background */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center; /* Центрируем содержимое формы */
}

.reset-password-form h1 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

.reset-password-form label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  color: #555;
}

.reset-password-form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.reset-password-form button {
  width: 100%;
  padding: 10px;
  background-color: #007bff; /* Blue background color */
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.reset-password-form button:hover {
  background-color: #0056b3; /* Darker blue on hover */
}
